# Python cache
__pycache__/
*.py[cod]

# SQLite database
db.sqlite3

# Environment files
.env

# Virtual environment folder (agar tu banaye future me)
venv/
env/

# VS Code settings
.vscode/

# Node modules (for Tailwind CLI etc.)
node_modules/

# Static and Media folders
staticfiles/
media/

# Tailwind CLI output (agar tu CSS generate kar raha ho)
*.css
*.map

# Logs
*.log

# MacOS/Windows system files
.DS_Store
Thumbs.db